{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marksheet</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

    <!-- Display form errors if any -->
    {% if form.errors %}
    <div class="error-message-container">
        <div class="error-message">
            <strong>Error!</strong> Please correct the following errors:
            <ul>
                {% for field, error in form.errors.items %}
                    {% for message in error %}
                        <li>{{ field }}: {{ message }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

    <div id="DivOne">
        <form  method="post">
            {% csrf_token %}
            <label for="roll_no">Roll No </label><br>
            <input required autofocus type="text" id="roll_no" name="roll_no" placeholder="11023"><br>
            <label for="fname">First name:</label><br>
            <input required autofocus type="text" id="fname" name="fname" placeholder="John"><br>
            <label for="lname">Last name:</label><br>
            <input required autofocus type="text" id="lname" name="lname" placeholder="Doe"> <br>
            <label for="class">s_class:</label><br>
            <input required autofocus type="text" id="class" name="s_class" placeholder="BSCS"> <br>
            <label for="subject">Subject:</label><br>
            <input required autofocus type="text" id="subject" name="subject" placeholder="CS"> <br>
            <label for="marks">Marks:</label><br>
            <input required autofocus type="text" id="marks" name="marks" placeholder="90"><br>
            <br />
            <button id="btn" type="submit"> submit </button>
        </form>
    </div>

    <div id="DivTwo">
        <!-- <form action="/show"> -->
        <a href="/show"><button> Show </button></a>
        <!-- <input id="btn" type="submit" value="Show Result"> -->
        <!-- </form> -->
    </div>

</body>

</html>