{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marksheet</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h2>
        Show Marksheet
    </h2>

    <div id="DivThree">
        <form action="/">
            <input type="submit" value="<< Back">
        </form>
    </div>

    <div class="topnav">
        <form method="get" action="{% url 'show' %}">
            <input type="text" name="search" placeholder="Search.."  value="{{ query | default_if_none:'' }}">
            <button type="submit">Search</button>
        </form>
    </div>
      

    <div id="DivFour">
        <table border>
            <thead>
                <th>Roll No</th>
                <th>First name:</th>
                <th>Last name:</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Marks</th>
                <th>Buttons</th>
            </thead>

            {% for d in object_list %}
            <tr>
                <td> {{d.roll_no}} </td>
                <td> {{d.fname}} </td>
                <td> {{d.lname}} </td>
                <td> {{d.s_class}} </td>
                <td> {{d.subject}} </td>
                <td> {{d.marks}} </td>
                <td> 
                    <a href="{% url 'edit' d.id %}"> Edit </a>
                    <a href="{% url 'delete' d.id %}"> Delete </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>